
body{
  width: 720px;
  height: 1100px; 
  background-image: url(https://img.elo7.com.br/product/zoom/1C5AAA3/transformers-painel-em-lona-1x0-70cm-fundo-festa-infantil.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: Grey;
   background-size: center;
  color: #FFFAFA;
}

#links{
    margin: auto;
    align-items:center;
    border-radius: 15px;
    justify-content: space-evenly;
    background-color: grey;
    width: 80px;
    height: px;
    border: 2px solid red;
    font-size: 24px;
    padding: 1px;
}

#imagens{
  display: inline-block;
}
