body{
  width: 720px;
  height: 1100px; 
  background-image:
url(https://i.pinimg.com/originals/5a/e4/d2/5ae4d2a6316d6f8460ac5a87b10637d8.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-color: Grey;
  color: #FFFAFA;
}

#links{
    margin: auto;
    align-items:center;
    border-radius: 15px;
    display: inline-block;
    justify-content: space-evenly;
    background-color: grey;
    width: 155px;
    height: 30px;
    border: 2px solid red;
    font-size: 28px;
    padding: 15px;
 
}

#imagens{
  display: inline-block;
}
